@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Default */
:root {
    --bg-color: #cdfbcd;
    --card: #ed8686;
    --text: #ffffff;
    --primary-button: #28a745;
    --delete: #e74c3c;
    --button-text:white;
    --list-hover: black;
    --add-hover:#3e8950;
    --li-bg: rgb(167, 143, 253);
    --ol-bg: rgb(242, 242, 118)
}

/* Minimal & Clean */
.minimal-theme {
    --bg-color: #f4f6f8;
    --card: #d7f6e9;
    --text: #333333;
    --primary-button: #36d45b;
    --delete: #e74c3c;
    --button-text:white;
    --list-hover: black;
    --add-hover:#3e8950;
    --li-bg: rgb(200, 241, 245);
    --ol-bg: rgb(255, 255, 255);
}

/* Modern & Fresh */
.modern-theme {
    --bg-color: #eaf0f6;
    --card: #cecece;
    --text: #2d3436;
    --primary-button: #3498db;
  --delete: #ff6b6b;
  --list-hover: black;
  --add-hover:#3e8950;
    --li-bg: rgb(223, 223, 223);
    --ol-bg: rgb(255, 255, 255);
}

/* Dark Theme */
.dark-theme {
    --bg-color: #121212;
    --card: #1e1e1e;
    --text: #f1f1f1;
    --primary-button: #00b894;
    --delete:#ff7675;
    --list-hover: black;
    --add-hover:#3e8950;
    --li-bg: rgb(115, 114, 117);
    --ol-bg: rgb(255, 255, 255);
}

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    min-height:100vh;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.main{
    background-color: var(--card);
    /* height: 66vh; */
    width: 30vw;
    border-radius: 8px;
    padding: 3%;
    margin: 0 auto;
    margin-top: 5%;
    /* position: absolute; */
    /* top:50vh;
    left:50vw;
    transform: translate(-50%,-50%); */
    /* box-sizing: border-box; */
}
h2{
    font-size: 246%;
    margin-bottom: 10%;
    text-align: center;
}
.form{
    height:24%;
    text-align: center;
}
#taskform{
    padding: 20px;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2%;
}
#taskinput{
    max-height: 42px;
    width: 70%;
    padding: 0 1.25rem;
    border-radius: 8px;
    border: none;
}
.add{
    padding: 3%;
    border-radius: 18%;
    background-color: var(--primary-button);
    color:var(--button-text);
    box-sizing: border-box;
    font-size: 80%;
    cursor:pointer;
    border:1px solid rgb(110, 58, 17);
}
.list{
    width: 100%;
    background-color: var(--ol-bg);
    margin: auto;
    padding: 8%;
    border-radius: 8px;
    box-sizing: border-box;
    max-height: 300px;
    overflow-y: auto;
}
.list ol{
    display: flex;
    flex-direction: column;
    gap:22px;
    height:100%;
    width:100%;
}
.list ol li{
    background-color: var(--li-bg);
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
    padding:4% 4%;
    border-radius: 5px;
    list-style-type: none;
    gap:2%;
}
.delete{
    color:var(--delete);
    max-height: 10%;
    display:flex;
    cursor:pointer;
    border:none;
    border-radius: 5px;
}
.delete span{
    font-size: 140%;
    font-weight: bolder;
    background-color: var(--delete);
    color: var(--text);
    border-radius: 5px;
}
.list ol li:hover{
    transform: scale(1.02);
    box-shadow: 0 0 6px var(--list-hover);
    transition: 0.2s ease-in-out;
}
 .btn{
    transition: 0.2s ease-in-out;
 }
.btn:hover{
    /* opacity:0.8; */
    filter: brightness(85%);
}
@media screen and (max-width:934px){
    .main{
        width:66vw;
    }
}
@media screen and (max-width:423px){
    h2{
        font-size: 190%;;
    }
}
footer{
    background-color: #484444;
    color: white;
    text-align: center;
    font-family: poppins;
    padding: 10px;
    box-sizing: border-box;
    width:100%;
}
footer p a{
    text-decoration: none;
    color:#8f8989;
    font-weight: 500;
}
footer p a:hover{
    color: white;
    text-decoration: underline;
    transition: 0.15s;
    
}
footer p a i{
    font-size: 1.5rem;
    vertical-align: middle;
}
footer p a i:hover{
    transform:scale(1.2);
    color:#ffffff;
    box-shadow: 0px 0px 2px white;
    transition: 0.15s;
}
.themes{
    /* background-color: purple; */
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;;
    padding: 1%;
    color: var(--text);
}
.theme-box1{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.theme-box{
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    background-color: red;
    text-align: center;
    cursor:pointer;
}